Package: com.m0420.darkvoting
Name: DarkVoting
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Enables subreddit-specific vote buttons
Maintainer: m0420
Author: m0420
Section: m0420
