Package: com.samgisaninja.dollarvoting
Name: DollarVoting
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hides the "give gold" button on stock reddit app
Maintainer: Sam Gardner
Author: Sam Gardner
Section: Tweaks
Version: 1.0-4+debug
Installed-Size: 104
